@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --clr-dark: #1E1E1E;
  --clr-light: white;
}
@layer base{
  .app{
    background-color: var(--clr-light);
    color: var(--clr-dark);
    font-family: 'kite one';
  }
  img{
    user-select: none;
  }
}
@layer components{
  .bg-stroke{
    background: url(./assets/bg-stroke.png);
    background-repeat: no-repeat;
    background-size:auto;
  }
  .project img{
    @apply md:w-56
  }
}
@layer utilities{
  .hide{
    display: none;
  }
  .container{
    @apply p-4 
  }
  .heading{
    @apply text-2xl font-extrabold md:text-3xl lg:text-4xl py-4
  }
  .sub-heading{
    @apply text-lg font-bold md:text-3xl lg:text-4xl 
  }
  .sup-heading{
    @apply text-sm font-bold md:text-xl lg:text-2xl py-2
  }
  .description{
    @apply text-xs md:text-sm lg:text-sm xl:text-xl opacity-70
  }
  
}