@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --clr-dark: #1E1E1E;
  --clr-light: white;
}
@layer base{
  .app{
    background-color: var(--clr-light);
    color: var(--clr-dark);
    font-family: 'kite one';
  }
}
@layer components{
  .bg-stroke{
    background: url(./assets/bg-stroke.png);
    background-repeat: no-repeat;
    background-size:auto;
  }
}
@layer utilities{
  .hide{
    display: none;
  }
  .container{
    @apply p-4 
  }
}